.room_list {
  display        : flex;
  flex           : 1;
  flex-direction : column;

  &__heading {
    @include          heading-font(18px);
    @include          transition();
    display         : flex;
    height          : $half-header-height;
    padding         : 0 10px;
    color           : $text-light;
    text-decoration : none;
    align-items     : center;

    &:not(.active):focus,
    &:not(.active):hover {
      color            : $text-dark;
      background-color : $warning-color-1;
    }

    .add {
      position     : relative;
      width        : 10px;
      height       : 10px;
      margin-right : 5px;

      &:after,
      &:before {
        content    : '';
        position   : absolute;
        top        : 50%;
        left       : 50%;
        box-shadow : inset 0 0 0 20px;
        transform  : translate(-50%,-50%);
      }

      &:before {
        width  : 10px;
        height : 2px;
      }

      &:after {
        width  : 2px;
        height : 10px;
      }
    }
  }

  .room_name {
    @include          overflow-ellipsis();
    @include          no-outline();
    @include          subheading-font(12px);
    @include          transition();
    display         : flex;
    height          : $half-header-height;
    padding         : 5px 10px;
    color           : $text-light;
    text-decoration : none;
    align-items     : center;

    &.active {
      @include   gradient-bg($accent-color-3, $accent-color, $accent-color);
      color    : $text-dark;
      cursor   : default;
    }

    &:not(.active):focus,
    &:not(.active):hover {
      background-color : $primary-color-1;
    }
  }
}
